<p-toast position="top-right"></p-toast>
<div class="login-body">
    <div id="login-wrapper">
        <img src="assets/layout/images/login-logo.png" alt="omega-layout"  />

        <div id="login-container">
            <span class="title">Fugo Store</span>

            <form  [formGroup]="loginForm" (ngSubmit)="login()"   class="grid p-fluid">
                <div class="col-12">
                    <input type="email"  pInputText placeholder="Email" formControlName="email" />
                    <div *ngIf="validField('email')" class="text-danger">
                        <span class="p-error" *ngIf="loginForm.controls['email'].errors?.['required']">Se requiere email*</span>
                        <span class="p-error" *ngIf="loginForm.controls['email'].errors?.['email']">Debe ser un formato de Email Válido</span>
                    </div>
                </div>
                <div class="col-12">
                    <input type="password"  pInputText placeholder="Contraseña" formControlName="password" />
                    <div *ngIf="validField('password')" class="text-danger">
                        <span class="p-error" *ngIf="loginForm.controls['password'].errors?.['required']">Se requiere Contraseña*</span>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <a href="#">Contraseña Olvidada</a>
                </div>
                <div class="col-12 flex flex-column">
                    <p-button type="submit" label="Iniciar Sesión" icon="pi pi-user" ></p-button>
                    <p-button class="py-3" styleClass="p-button-success" type="button" label="Registrarme" icon="pi pi-plus" [routerLink]="['/auth/registro']"></p-button>
                </div>
            </form>
        </div>

        <div class="login-footer">Fugo Store POS 2022.</div>
    </div>
</div>
